logs/

scratch/

data/
demonstration_data/
*/checkpoint/
*.log

/plots

/model_checkpoints

__pycache__/

venv/
diff_venv/

configs/

*egg-info

venv/

*.gtsp
tour.txt

events.out*

*.pkl
*.zip
.DS_Store
*.pt
*.ckpt
*.png
Results