logs/

scratch/

data/
demonstration_data/

/plots

/model_checkpoints
models/

__pycache__/

venv/
diff_venv/

configs/

*egg-info

venv/

*.gtsp
tour.txt

events.out*

*.pkl
*.zip
.DS_Store
*.pt
*.png
Results